# database connection

In [ ]:
#  pip install mysql-connector-python
import mysql.connector
mydb= mysql.connector.connect(
    host="localhost",
    user="root",
    password="hp22d6168",

)
coursor=mydb.cursor()
coursor.execute("create database d2")
mydb.commit()
coursor.close()
print("database created successfully")j

database created successfully

# create tatble

In [3]:
#  pip install mysql-connector-python
import mysql.connector
mydb= mysql.connector.connect(
    host="localhost",
    user="root",
    password="hp22d6168",
    database="d1"

)
coursor=mydb.cursor()
coursor.execute("create table student (name varchar(255),rollno int(10),marks int(10))")
mydb.commit()
coursor.close()
print("database created successfully")

database created successfully

# insert values

In [5]:
#  pip install mysql-connector-python
import mysql.connector
mydb= mysql.connector.connect(
    host="localhost",
    user="root",
    password="hp22d6168",
    database="d1"

)
coursor=mydb.cursor()
# a="insert into student (name,rollno,marks) values (%s,%s,%s)"
# b=("John",101,85)
# coursor.execute(a,b)

## for multiple values
a="insert into student (name,rollno,marks) values (%s,%s,%s)"
b=[("Jane",102,90),("Doe",103,75)]
coursor.executemany(a,b)
mydb.commit()
coursor.close()
print("database created successfully")

database created successfully

# read data

In [10]:
#  pip install mysql-connector-python
import mysql.connector
mydb= mysql.connector.connect(
    host="localhost",
    user="root",
    password="hp22d6168",
    database="d1"

)
coursor=mydb.cursor()
a="select * from student"
coursor.execute(a)
result=coursor.fetchall()
for row in result:
    print(row)
mydb.commit()
coursor.close()
print("database created successfully")

('John', 101, 85)
('Jane', 102, 95)
database created successfully

# update data

In [7]:
#  pip install mysql-connector-python
import mysql.connector
mydb= mysql.connector.connect(
    host="localhost",
    user="root",
    password="hp22d6168",
    database="d1"

)
coursor=mydb.cursor()
a="update student set marks=95 where rollno=102"
coursor.execute(a)
mydb.commit()
coursor.close()
print("database created successfully")

database created successfully

# delete value

In [1]:
#  pip install mysql-connector-python
import mysql.connector
mydb= mysql.connector.connect(
    host="localhost",
    user="root",
    password="hp22d6168",
    database="d1"

)
coursor=mydb.cursor()
coursor.execute("delete from student where rollno=103")
mydb.commit()
coursor.close()
print("database created successfully")

database created successfully

In [2]:
import mysql.connector
mydb= mysql.connector.connect(
    host="localhost",
    user="root",
    password="hp22d6168",

)
coursor=mydb.cursor()
coursor.execute("db1")
mydb.commit()
coursor.close()
print("database created successfully")

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'db1' at line 1

In [8]:
import mysql.connector
mydb= mysql.connector.connect(
    host="localhost",
    user="root",
    password="hp22d6168",
    database="d2"

)
coursor=mydb.cursor()
coursor.execute("create table voters (name varchar(255),password int(10))")
mydb.commit()
coursor.close()
print("database created successfully")

database created successfully