#pandas

#data strutures
-- series
 --dataframe
--panel

#series data strutures

In [ ]:
#series dataStruture with list

import pandas as pd

list =[1,2,3,4]
a = pd.Series(list,index=['a','b','c','d'],dtype="float",name="Python")
print(a)
print("index",a[3])

a    1.0
b    2.0
c    3.0
d    4.0
Name: Python, dtype: float64
index 4.0

C:\Users\garg2\AppData\Local\Temp\ipykernel_17948\908824309.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print("index",a[3])

In [42]:
#with dis --object
import pandas as pd
dis={
  "name":["vishal","anku","sonu"],
  "id":[100,200,300]
}
a = pd.Series(dis)
print(a)

#single line
s1 = pd.Series(12,index=[1,2,4,6,5,4])
s2 = pd.Series(12,index=[1,3,4])
print(s1+s2)



sr = {"s":pd.Series([1,2,3]),"b":pd.Series([1,2,3])}
print("sr",sr)

name    [vishal, anku, sonu]
id           [100, 200, 300]
dtype: object
1    24.0
2     NaN
3     NaN
4    24.0
4    24.0
5     NaN
6     NaN
dtype: float64
sr {'s': 0    1
1    2
2    3
dtype: int64, 'b': 0    1
1    2
2    3
dtype: int64}

# DATAFRAMES

In [40]:
import pandas as pd
list =[1,2,3,4,5]
var = pd.DataFrame(list)
print(var)

# length values are same both side

dis ={
  "name":["vishal","anku"],
  "id":[122,344],
  "d":[45,77]
}
ab = pd.DataFrame(dis,columns=["name","d","id"],index=["a","s"])
print(ab)
print(ab["name"]["s"])

# mutliple list 
list1 =[[1,3,4,5],[6,5,7,3]]
sb = pd.DataFrame(list1)
print(sb)

   0
0  1
1  2
2  3
3  4
4  5
     name   d   id
a  vishal  45  122
s    anku  77  344
anku
   0  1  2  3
0  1  3  4  5
1  6  5  7  3

#series with dataframe

In [43]:
sr = {"s":pd.Series([1,2,3]),"b":pd.Series([1,2,3])}

var3 = pd.DataFrame(sr)
print(var3)

   s  b
0  1  1
1  2  2
2  3  3

#arithmetic opertions in pandas

In [50]:
import pandas as pd

var = pd.DataFrame({"a":[2,4,5],"b":[6,7,8]})
# add
var["c"] =var["a"]+var["b"]
# subtract
var["c"] =var["a"]-var["b"]
# multiple
var["c"] =var["a"]*var["b"]


print("add",var)
print("subtract",var)
print("multiple",var)

var["python"]=var["a"] <=5
var["python_1"]=var["c"] <=5
var["python_1"]=var["b"] <=5
print(var)

add    a  b   c
0  2  6  12
1  4  7  28
2  5  8  40
subtract    a  b   c
0  2  6  12
1  4  7  28
2  5  8  40
multiple    a  b   c
0  2  6  12
1  4  7  28
2  5  8  40
   a  b   c  python  python_1
0  2  6  12    True     False
1  4  7  28    True     False
2  5  8  40    True     False

#delete and insert in functions

In [57]:
# insert data
import pandas as pd
hello = pd.DataFrame({"a":[1,2,3,4,5],"b":[6,7,8,9,10]})
hello.insert(1,"python",hello["a"])
print(hello)

# limited data copy
hello["p2"]=hello["b"][0:2]
print("limited",hello)

   a  python   b
0  1       1   6
1  2       2   7
2  3       3   8
3  4       4   9
4  5       5  10
limited    a  python   b   p2
0  1       1   6  6.0
1  2       2   7  7.0
2  3       3   8  NaN
3  4       4   9  NaN
4  5       5  10  NaN

In [60]:
# delete data

delete = pd.DataFrame({"a":[1,2,3,4,5],"b":[6,7,8,9,10]})
delete.pop("b")
print("1st method",delete)


# 2nd method
delete2 = pd.DataFrame({"a":[1,2,3,4,5],"b":[6,7,8,9,10]})

del delete2["a"]
print("2nd method",delete2)

1st method    a
0  1
1  2
2  3
3  4
4  5
2nd method     b
0   6
1   7
2   8
3   9
4  10